%div.row.row-header
  %span.span2.header-avatar
    %i.avatar.icon-cogs
  %span.span10.header-body
    = breadcrumbs :root, Tool, @tool
    %h1 Edit Tool
    %span.muted
      Last edited on
      = @tool.updated_at.to_s(:long)

= render 'form'
