%div.row.row-header
  %span.span2.header-avatar
    %i.avatar.icon-envelope
  %span.span10.header-body
    = breadcrumbs :root, :inbox
    %h1 Inbox
    %span.muted &nbsp;

%div.row.row-header
  %span.span12

%div.row
  %span.span2
  %span.span8
    - if @messages.empty?
      %p
        You haven't received any messages yet.
        = link_to "Search for a lease", search_path
        to get started with RareShare.
    - else
      = render partial: 'messages/messages', object: @messages

