= render layout: 'shared/navbar' do
  %div.row.row-header
    %span.span12
      %h1 Inbox

  %div.row
    %span.span12
      - if @messages.empty?
        %p 
          You haven't received any messages yet.
          = link_to "Search for a lease", search_path
          to get started with RareShare.
      - else
        = render partial: 'messages/messages', object: @messages
        
