= page_header "Inbox", icon: "envelope", crumbs: [:root, :inbox]

%div.row
  %div.span2
  %div.span8
    - if @messages.empty?
      %p
        You haven't received any messages yet.
        = link_to "Search for a lease", search_path
        to get started with RareShare.
    - else
      = render partial: 'messages/messages', object: @messages

