!!!html
%html{lang: "en"}
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body
    %h4 A message from RareShare
    %h1 Your account has been approved!

    %p Hi #{@user.first_name},

    %p
      The admin has reviewed and approved your account.
      You now have full access to the site.

    %p Thanks,

    %p The RareShare Team

    %small
      You've received this update because you're subscribed to email
      notifications of booking changes. To change these settings, please
      %a{href: profile_url} edit your profile.
