- if booking.tool.terms_document
  %p The owner of this tool has supplied their own terms for all bookings.

- if booking.tool.chosen_terms_document
  %p
    %a{href: booking.tool.chosen_terms_document.pdf.url, target: "_blank", download: true}
      %i.icon-download
      Download #{booking.tool.chosen_terms_document.title}
  %embed{src: booking.tool.chosen_terms_document.pdf.url, width: 600, height: 300, style: "border: 1px solid #ddd; margin-bottom: 10px"}
