- nav_category "Calendar"

= page_header "Cancel Finalized Booking",
  icon: "cogs",
  crumbs: [:root, :calendar, @booking],
  subtitle: @booking.display_name

%div.row
  %span.span2
  %span.span8
    %p You are about to cancel this booking. This might cost money. Cool? (yes/no)
    = simple_form_for @booking do |f|
      = f.button :submit, value: "Yes, cancel", class: "btn btn-danger"
      = link_to "No, don't", booking_path(@booking), class: "btn"
