%div.row.row-header
  %div.span2.header-avatar
    - if defined?(icon)
      %i.avatar{class: "icon-#{icon}"}
    - else
      %img.avatar{src: avatar}
  %div.span10.header-body
    = breadcrumbs *crumbs
    %h1= title
    %span.muted= subtitle
