= form_tag search_url, method: "get", class: "form-inline search-tools no-margin" do |f|
  %label I need 
  %input{name: "q", type: "text", placeholder: "a transmogrifier", value: params[:q]}
  %label on 
  %input{name: "on", type: "text", class: "date", value: params[:on] || Date.today.strftime("%d %B, %Y")}
  %label near 
  %input{name: "loc", type: "text", placeholder: "Stanford, MIT, Mars", value: params[:loc]}
  %input(name="submit" type="submit" value="Go" class="btn btn-default")
