%div.content.container
  %div.banner-background
    %div.photo-credit
      %small
        %span Photo credit:
        %a(href="http://www.flickr.com/photos/dexxus/5791228117/")
          Bridging Knowledge to Health
        %span
          © 2011 Paul Bica, used under a
        %a(href="http://creativecommons.org/licenses/by-sa/3.0/")
          Creative Commons Attribution-ShareAlike license

  %div.search
    %h1.tag No science friction.
    %p Lease the most advanced scientific and medical equipment in the world.
    = render partial: "shared/search"

%div.about_us
  %div.container
    %div.row
      %div.span4
        %h3 Fast
        %i.icon-magic
        %p Find the tools you need in minutes.
      %div.span4
        %h3 Global
        %i.icon-globe
        %p The most advanced equipment, anywhere.
      %div.span4
        %h3 Effective
        %i.icon-beaker
        %p We put your research front and center.

%div.container.more-information{style: "line-height: 30px;"}
  %h1{style: "line-height: 80px"}
    It's tough to find good equipment.
  %p
    In lectus risus, euismod vitae blandit ut, ullamcorper eu dui. Phasellus congue sagittis turpis, vel
    vehicula odio gravida varius. Vestibulum sagittis, metus ac consectetur faucibus, lorem ligula laoreet
    quam, ultrices consequat magna tortor non diam. Sed dictum mattis lobortis. Aliquam erat volutpat.
    Nullam mattis egestas posuere. Duis vel ipsum ac ipsum mollis iaculis quis vitae nulla.
  %p{style: "font-weight: 700"}
    Mauris tempus leo quis sapien euismod ac dignissim lectus semper.
  %p
    Curabitur mattis ornare mauris, a fermentum augue condimentum non. Praesent sagittis placerat neque,
    ac pulvinar ipsum rutrum a. Sed vitae cursus leo. Curabitur justo magna, luctus sed consectetur ut,
    ullamcorper vel dui.
