- content_for :banner do
  %div.banner-background
  %div.search
    %h1.tag No science friction.
    %p Lease the most advanced scientific and medical equipment in the world.
    = render partial: "shared/search"