%div.content.container
  %div.banner-background
    %div.photo-credit
      %small
        %span Photo credit:
        %a(href="http://www.flickr.com/photos/dexxus/5791228117/")
          Bridging Knowledge to Health
        %span
          © 2011 Paul Bica, used under a
        %a(href="http://creativecommons.org/licenses/by-sa/3.0/")
          Creative Commons Attribution-ShareAlike license

  %div.search
    %div.row
      %div.span10.offset1
        %h1.tag No science friction.
        %p Find the most advanced scientific and medical equipment in the world.
    %div.row
      %div.span10.offset1
        = render partial: "searches/form"

%div.about_us
  %div.container
    %div.row
      %div.span3
        %div.panel
          %h3 Accelerate
          %i.icon-dashboard
          %p Find the tools you need lickety-split.
      %div.span3
        %div.panel
          %h3 Unearth
          %i.icon-globe
          %p A rich ecosystem of expertise and equipment.
      %div.span3
        %div.panel
          %h3 Collaborate
          %i.icon-exchange
          %p Get help from other biotechs in your area.
      %div.span3
        %div.panel
          %h3 Amplify
          %i.icon-bolt
          %p Extend the impact of your resources.

%div.more-information
  %div.container
    %div.row
      %div.span6
        %h1
          Startups and scientists
        %p
          <strong>Scientific equipment is expensive.</strong> Small biotech
          and technology companies don't have the kind of capital it takes to buy them for one-off tests.

        %p
          <strong>Rare Share connects you to institutions that have equipment and aren't using it.</strong>
          Tools and systems come pre-installed, calibrated, and ready for use.


      %div.span6
        %h1
          Institutions and vendors

        %p
          Tool vendors enjoy an additional sales channel as our customers try out their tools.
          Owners enjoy found revenues from underutilized assets.

        %p
          All sourcing requests are anonymous. We maintain the confidentiality of all parties until and
          unless the deal is closed. Your intellectual property is safe.

    %div.row
      %span.offset1.span10.get-started
        = link_to "Get Started", new_user_session_path, class: "btn btn-success btn-large"
