!!!html
%html{lang: "en"}
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body
    %h1 A new user registered!

    %p
      #{@user.email} registered.
      %br
      = link_to "Click here to review and approve his account", edit_admin_user_path(@user)

    %p Thanks,