- if signed_in?
  = render 'shared/navbar'

%div.well.well-small
  = render partial: "shared/search"

- if @results.any?
  = render collection: @results, partial: 'result'
- elsif @query.valid?
  %p No results found.
