@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

@brandColor: #CAD4DE;

@navbarHeight: 40px;
@navbarBackground: #50575E;
@navbarBackgroundHighlight: #57626E;
@navbarBrandColor: @brandColor;
@navbarLinkColor: #eee;
@navbarLinkColorActive: @brandColor;
@navbarLinkColorHover: @brandColor;
@navbarText: #eee;
@navbarBorderColor: #4A555E;

@linkColor: @navbarBackgroundHighlight;
@linkColorHover: lighten(@navbarBackgroundHighlight, 20%);

@wellBackground: lighten(@navbarBackground, 50%);
@defaultBorderColor: darken(@wellBackground, 7%);

@baseBorderRadius: 2px;

// @headingsFontFamily: 'Share Tech', sans-serif;
@baseFontFamily: 'Lato', sans-serif;
@headingsFontFamily: 'Lato', sans-serif;

body { font-size: 16px; }

@altNavbarBackground: #87A49A; 
@altNavbarBackgroundHighlight: #95B0A7;
@altNavbarLinkBackgroundActive: darken(@altNavbarBackground, 5%);
@altNavbarLinkColorActive: lighten(@altNavbarBackgroundHighlight, 20%);
