@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech'), local('ShareTech-Regular'), asset-url("Share_Tech/ShareTech-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), asset-url("Lato/Lato-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), asset-url("Lato/Lato-Bold.ttf") format('truetype');
}

@paleBlue: #CAD4DE;
@darkBlueGrey: #50575E;
@mossGreen: #87A49A;
@darkMossGreen: #95B0A7;
@lightMossGreen: lighten(@darkMossGreen, 20%);

@brandColor: @paleBlue;

@navbarHeight: 40px;
@navbarBackground: @darkBlueGrey;
@navbarBackgroundHighlight: #57626E;
@navbarBrandColor: @brandColor;
@navbarLinkColor: #eee;
@navbarLinkColorActive: @brandColor;
@navbarLinkColorHover: @brandColor;
@navbarText: #eee;
@navbarBorderColor: #4A555E;

@linkColor: @darkBlueGrey;
@linkColorHover: lighten(@darkBlueGrey, 20%);

@btnBackground: #eee;
@btnBackgroundHighlight: darken(@btnBackground, 5%);
@btnPrimaryBackground: @linkColor;
@btnPrimaryBackgroundHighlight: darken(@btnPrimaryBackground, 5%);
@btnSuccessBackground: #80BF41;
@btnSuccessBackgroundHighlight: darken(@btnSuccessBackground, 5%);
@btnInfoBackground: #4195BF;
@btnInfoBackgroundHighlight: darken(@btnInfoBackground, 5%);

@wellBackground: #eee;
@defaultBorderColor: darken(@wellBackground, 7%);

@baseBorderRadius: 2px;

@baseFontFamily: 'Lato', sans-serif;
@headingsFontFamily: 'Lato', sans-serif;
@brandFontFamily: 'Share Tech', sans-serif;
@headingsFontWeight: 300;
@baseFontSize: 16px;

@altNavbarBackground: @mossGreen;
@altNavbarBackgroundHighlight: @darkMossGreen;
@altNavbarLinkBackgroundActive: darken(@altNavbarBackground, 5%);
@altNavbarLinkColorActive: white;
@footerHeight: 140px;

@emailSentColor: #E0E8FF;
@emailReceivedColor: #FFF0C4;

.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
  background-color: @start;
  background-image: -webkit-linear-gradient(@origin, @start, @stop);
  background-image: -moz-linear-gradient(@origin, @start, @stop);
  background-image: -o-linear-gradient(@origin, @start, @stop);
  background-image: -ms-linear-gradient(@origin, @start, @stop);
  background-image: linear-gradient(@origin, @start, @stop);
}
