body {
  background: image-url('bg.png');
}

.rareshare.navbar {
  box-shadow: 0 0.1em 2em 0.1em black;
  overflow: scroll;
  .nav { float: right; }

  .navbar-inner {
    border-radius: 0;
    border-bottom: 1px solid #333B42;
  }

  .brand {
    font-family: 'Share Tech', sans-serif;
    text-transform: uppercase;
    font-size: 200%;
  }
}

.ui-datepicker {
  background: white;
  padding: 0.5em;
}
