@import "variables";

html, body {
  height: 100%;
}

body {
  background: image-url('bg3.png');
  font-size: 16px;
}

a {
  cursor: pointer;
  &:hover     { text-decoration: underline; }
  &.tip       { text-decoration: none; color: @mossGreen; }
  &[disabled] { color: #eee; cursor: default; }
}

.slide-down {
  max-height: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
  &.slid { max-height: 400px; transition: max-height 0.3s ease; }
}

.rareshare.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 0 0.2em 0.04em black;
  width: 100%;

  .container { width: 960px; }

  .navbar-inner {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid @navbarBorderColor;

    ul.nav > li {
      line-height: 30px;
    }
  }

  .brand {
    width: 130px;
    padding: 5px 20px;
  }

  .welcome-message {
    padding-right: 14px;
  }

  .navbar-search {
    @borderRadius: 4px;
    margin-top: 10px;
    position: relative;
    // line-height: 60px;

    input[name=q] {
      border-radius: @borderRadius;
      background-color: @lightMossGreen;
      width: 300px;
      margin-bottom: 5px;
      padding-left: 10px;
    }

    .search_append {
      margin-left: -30px;
      position: absolute;
      top: 5px;
      right: 10px;
      // line-height: 50px;
      color: @darkBlueGrey;
    }
  }

  .dropdown-menu {
    width: 100%;
    background-color: lighten(@darkBlueGrey, 20%);
    > li > a {
      color: @paleBlue;
      &.text-warning { color: @warningText; }
    }
  }
}

.navbar .nav > li > .dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  -webkit-border-radius: 0;

  margin-right: -1px;

  &:before, &:after { display: none; } // Hide dropdown carets.

  .header span {
    display: block;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 5px 20px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -5px;
  }
}

table {
  tr > th > small {
    color: #999;
    display: block;
    font-weight: 300;
  }
}

.content-root {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@footerHeight;

  > .content.container {
    padding-top: 70px;

    > .inner-content {
      min-height: 450px;
      padding: 20px 20px 20px 20px;
      margin-bottom: 20px;
      margin-left: -20px;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);

      .sidebar {
        > .btn { width: 94px; margin-left: 10px; font-size: 14px; margin-bottom: 10px; }
      }
    }
  }
}

body > footer, .content-root > .push {
  height: @footerHeight;
}

body > footer {
  .gradient(top, @lightMossGreen, darken(@lightMossGreen, 10%));
  box-shadow: 0 0 0.2em 0.04em @darkMossGreen;

  > .container {
    padding-top: 20px;
  }

  ul.nav {
    > li {
      font-size: 14px;
      display: inline-block;
      width: 140px;
      > a { &:hover { background: none; } }
    }
  }
}

form {
  .form-actions {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
  }

  input[readonly] { cursor: default; }

  &.no-margin {
    margin-bottom: 0;
  }

  textarea {
    height: 200px;
    width: 400px;
  }

  input.picker__input[readonly] {
    background-color: white;
  }

  fieldset {
    margin-bottom: 20px;
    border-top: 1px solid @defaultBorderColor;
    padding-top: 20px;

    legend {
      font-family: @headingsFontFamily;
      line-height: 32px;
      color: @mossGreen;
      text-transform: uppercase;
      border-bottom: none;

      .tooltip { text-transform: none; }
    }

    &:first-child { border: none; }
  }

  .fieldset-helper { font-size: small; }

  .row {
    // Scale input widths based if they're nested in a row.
    .input-width(@column) {
      width: (@gridColumnWidth * @column) + (@gridGutterWidth * (@column - 2) + 6px);
    }

    .input-append-width(@column) {
      width: (@gridColumnWidth * @column) + (@gridGutterWidth * (@column - 2) - 32px);
    }

    p.help-block {
      font-size: 14px;
    }

    // TODO This can be eliminated using Bootstrap's controls-row and inline span classes. Argh.
    > .span1 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(1); } } }
    > .span1 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(1); } } } }
    > .span2 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(2); } } }
    > .span2 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(2); } } } }
    > .span3 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(3); } } }
    > .span3 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(3); } } } }
    > .span4 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(4); } } }
    > .span4 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(4); } } } }
    > .span5 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(5); } } }
    > .span5 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(5); } } } }
    > .span6 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(6); } } }
    > .span6 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(6); } } } }
    > .span7 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(7); } } }
    > .span7 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(7); } } } }
    > .span8 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(8); } } }
    > .span8 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(8); } } } }
    > .span9 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(9); } } }
    > .span9 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(9); } } } }
    > .span10 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(10); } } }
    > .span10 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(10); } } } }
    > .span11 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(11); } } }
    > .span11 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(11); } } } }
    > .span12 { > .control-group {                 select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-width(12); } } }
    > .span12 { > .control-group { .input-append { select, .string, .text, .numeric, .date, .search-query, .select2-container { .input-append-width(12); } } } }

    > .span4 { input.date + div.picker { width: 289px; } }
  }
}

.well {
  background-color: @wellBackground;
  border: 0;
  border-radius: 0;

  &.well-small {
    border: 0;
    border-radius: 0;
  }
}

.badge.badge-mini {
  border-radius: 2px;
  font-size: 10px;
  line-height: 12px;
  padding-left: 4px;
  padding-right: 4px;
}

.navbar .nav {
  li > a > i + span {
    margin-left: 5px;
  }
}

.alt-navbar.navbar {
  font-weight: 100;
  font-size: 16px;
  width: 980px;
  margin-left: -20px;
  margin-bottom: 0;

  .navbar-inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    #gradient > .vertical(@altNavbarBackgroundHighlight, @altNavbarBackground);
  }

  .nav > .active > a,
  .nav > .active > a:hover,
  .nav > .active > a:focus {
    color: @altNavbarLinkColorActive;
    text-decoration: none;
    background-color: @altNavbarLinkBackgroundActive;
    .box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: @navbarInverseLinkBackgroundHover;
    color: @altNavbarLinkColorActive;
  }

  .nav > li.notifications {
    margin-right: -18px;
    &.open { > a, > a.unseen { text-shadow: 0 0 10px rgba(255,255,255,0.8); } }

    > a {
      position: relative;
      &.unseen { color: white; }

      > .badge {
        position: absolute;
        top: 4px;
        right: 7px;
      }
    }

    > .dropdown-menu {
      right: -20px;
      &:before, &:after { display: block; } // Show dropdown caret again.
      &:before { right: 19px; }
      &:after  { right: 20px; border-bottom-color: #eee; }

      li a {
        white-space: inherit;
        width: 300px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 14px;
        position: relative;

        &.active {
          background-color: @lightMossGreen;
        }

        > i {
          position: absolute;
          top: 18px;
          left: 10px;
          color: #aaa;
        }

        > div {
          margin-left: 15px;
        }

        blockquote {
          margin-bottom: 0;
        }
      }
    }
  }
}

.alt-navbar + .inner-content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
  &.pull-up { margin-top: 0; }
}

.header-avatar {
  a:hover { text-decoration: none; }
  .avatar {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: @lightMossGreen;
    margin: 10px 20px 0 10px;
    font-size: 90px;
    line-height: 100px;
    width: 100px;
    color: @darkBlueGrey;
  }

  p { text-align: center; }

  &.mini {
    .avatar {
      padding: 5px;
      margin: 0;
      font-size: 40px;
      line-height: 50px;
      width: 50px;
    }

    p { font-size: 11px; line-height: 12px; margin-top: 3px; }
  }
}

.row.row-header {
  margin-bottom: 10px;

  .header-body {
    margin-top: 20px;
    border-bottom: 1px solid @defaultBorderColor;
    padding-bottom: 10px;
  }
}

.typeahead {
  max-height: 300px;
  overflow: auto;
}

.email {
  p:last-child {
    margin-bottom: 0;
  }

  &.email-received {
    background-color: @emailReceivedColor;
    border: 1px solid darken(@emailReceivedColor, 10%);
  }

  &.email-sent {
    background-color: @emailSentColor;
    border: 1px solid darken(@emailSentColor, 10%);
  }
}

form.new_message {
  textarea { width: 606px; }
}

.messageable {
  border-bottom: 1px solid #e5e5e5;

  &.affix {
    top: 100px;
    width: 140px;
  }

  .btn {
    margin-bottom: 10px;
    &:last-child { margin-bottom: 0; }
  }

  input.btn { width: 140px; }
  a.btn { width: 114px; }
}

form.search-tools {
  .row .control-group .input-append {
    input[name=q]   { width: 348px; }
    input[name=loc] { width: 188px; }
  }
  input[type=submit] { width: 140px; }
  .control-group {
    margin-bottom: 0;
    // .input-append { margin-bottom: 0; }
  }
}

ul.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  a { color: @mossGreen; }
  .active { color: #333333; }
}

ul.nav-pills.devise {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;

  > li {
    float: none;
    display: inline-block;

    > a {
      border-radius: 0;
      background-color: @grayLighter;
      margin-right: -2px;
      &:hover { background-color: @darkMossGreen; color: white; }
    }

    &.active a {
      background-color: @darkMossGreen;
    }

    &:first-child > a { .border-radius(4px 0 0 4px); }
    &:last-child  > a { .border-radius(0 4px 4px 0);}
  }
}

.terms_and_conditions {
  overflow-y: scroll;
  max-height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 10px;
  background-color: @lightMossGreen;
  color: #444;
}

.well.well-inverted {
  background-color: @darkBlueGrey;
  color: #ddd;
}

.upcase {
  text-transform: uppercase;
}
