@import "variables";

#bookings {
  .step {
    .border { border-top: 1px solid #ccc; margin-top: 20px; margin-bottom: 20px; }

    &.complete { h1 { color: @mossGreen; } small { color: #ccc; } }

    h1 {
      font-weight: bold;
      color: #eee;
      font-size: 100px;
      line-height: 100px;
    }

    h1, small {
      transition: color 1s ease;
    }
  }

  .pricing {
    background-color: @darkBlueGrey;
    color: #eee;
    border-radius: 4px;
    &.affix { top: 30px; }
    > div { margin: 10px; }
    dl { font-size: 14px; dd { margin-left: 0; } }
    .total_price { font-size: 20px; }
  }
}
