@import "variables";


#home {
  .banner-background {
    width: 100%;
    height: 600px;
    background: image-url("tunnel.jpg") no-repeat;
    background-size: 100% auto;
    background-position: 0 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media (max-width: 700px) {
      background-size: auto 525px;
    }

    .photo-credit {
      display: none;

      margin-top: 376px;
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      text-align: center;
      a { color: #ddd; }
    }
  }

  .about_us {
    background-color: #CDFAE7;
    background-image: image-url('parquet.png'), linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.0) 5%, rgba(0,0,0,0.0) 95%, rgba(0,0,0,0.6) 100%);
    background-image: image-url('parquet.png'), -webkit-linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.0) 5%, rgba(0,0,0,0.0) 95%, rgba(0,0,0,0.6) 100%);
    background-position: left top;
    background-repeat: repeat;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;

    .panel {
      text-align: center;
      background-image: linear-gradient(lighten(@altNavbarBackground, 20%) 0%, @altNavbarBackground 100%);
      background-image: -webkit-linear-gradient(lighten(@altNavbarBackground, 20%) 0%, @altNavbarBackground 100%);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), inset 2px 2px 20px rgba(255, 255, 255, 0.5);
      border-radius: 8px;
      height: 175px;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 20px;

      h3 {
        margin-top: 0;
      }

      > i {
        font-size: 60px;
        color: @altNavbarLinkColorActive;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        line-height: 80px;
      }
    }
  }

  .rareshare.navbar {
    margin-bottom: 0;
  }

  .content > .search {
    height: 210px;
    padding-top: 80px;
    padding-bottom: 140px;
    color: #eee;
    text-shadow: 0 0 2em #111, 0 0 0.8em #777;
    font-weight: 300;

    label {
      width: auto;
    }

    .tag {
      font-size: 96px;
      line-height: 78px;
      text-shadow: 0 0 1em #0F4, 0 0 0.8em #000;
      font-family: @brandFontFamily;

      + p {
        font-size: 24px;
      }
    }

    form {
      margin-top: 10px;
      background: rgba(0, 0, 0, 0.7);
      padding: 8px 8px 0 8px;
      border-radius: 5px;
      display: inline-block;
      color: #eee;
      height: 38px;

      label, input { font-size: 18px; }

      input {
        &.string, &.date {
          background-color: #555;
          color: #eee;
          border-color: #777;
        }
      }

      > .row .span2 {
        width: 124px;
        > input.btn { width: 124px; }
      }

      .pickadate__holder { text-shadow: none; }

      .input-append .add-on {
        background-color: #777;
        border-color: #777;
        text-shadow: none;
      }
    }
  }

  .more-information {
    background: black image-url('earth.jpg') 50% top no-repeat;
    color: #ddd;
    text-shadow: 0 0 12px rgba(0,0,0, 1.0);
    padding-bottom: 20px;
    padding-top: 100px;

    .get-started {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 20px;

      .btn {
        font-size: 80px;
        line-height: 110px;
        font-family: @brandFontFamily;
        text-transform: uppercase;
        width: 740px;
        background: rgba(30, 100, 59, 0.7);
      }
    }

    h1 { line-height: 70px; }
    p { font-size: 20px; line-height: 38px; }
  }
}
