= render layout: 'layouts/application' do
  %div.content.container
    %div.container.inner-content
      %div.row
        %div.span10.offset1
          = render "devise/shared/links"
          = bootstrap_flash

      = yield

