= render layout: 'layouts/application' do
  %div.content.container
    %div.container.inner-content
      %div.row
        %div.span10.offset1{style: "border-bottom: 1px solid #eee; margin-bottom: 20px"}
          = render "devise/shared/links"
          = bootstrap_flash

      = yield

